.leftNav{
    float: left;
    width: 250px;
    height: 100%;
    border-radius: 10px;
   background-color:#E0E0E0;
    color: black;
}
.navClass{
    /*padding-left: 0px;*/
    /*text-align: center;*/
    margin-top: 50px;
}
.navClass>li{
    cursor: pointer;
}
li{
    list-style: none;
    margin-top: 10px;
    font-size: 20px;
    text-align: left;
}
a{
    text-decoration: none;
    color: #000;
}
